// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

/*Lettertypes*/
@font-face {
  font-family: 'DeannasIvy';
  src: url("../fonts/Deanna's Ivy.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/Deanna's Ivy.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'DeannasIvyCaps';
  src: url("../fonts/Deanna's Ivy Caps.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/Deanna's Ivy Caps.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/Lato-Regular.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/Lato-Regular.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'LatoBold';
  src: url("../fonts/Lato-Bold.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/Lato-Bold.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'LatoBlack';
  src: url("../fonts/Lato-Black.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/Lato-Black.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'LatoItalic';
  src: url("../fonts/Lato-Italic.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/Lato-Italic.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'PlayfairDisplayRegular';
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/PlayfairDisplay-Regular.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url("../fonts/PlayfairDisplay-Italic.ttf") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url("../fonts/PlayfairDisplay-Italic.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body{
  font-family: LatoBold, sans-serif;
  color: black !important;
}
/*START HEADER*/

/*Navigatiebar*/

.logoLettertype{
  font-family: DeannasIvy, sans-serif;
  font-size: 3rem;
  color: #006a4e;
}
.navbar-brand{
  font-size: 2rem;
}
.nav-link{
  color: black !important;
  font-size: 1rem;
}
.nav-link:hover{
  color: #f4c2c2 !important;
}
/* Ripple In */
@-webkit-keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
.hvr-ripple-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-in:before {
  content: '';
  position: absolute;
  border: #f4c2c2 solid 2px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-in:hover:before, .hvr-ripple-in:focus:before, .hvr-ripple-in:active:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}
.winkelkarretje{
  color: black;
  margin-bottom: auto;
  margin-top: auto;
  background-color: #ffffff;
}
.winkelkarretje:hover{
  color: #f4c2c2 !important;
}
.user{
  color: black;
  margin-bottom: auto;
  margin-top: auto;
  background-color: #ffffff;
}
.user:hover{
  color: #f4c2c2 !important;
}
/*Zoekicoonsnippet*/

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  background-color: #006a4e;
  border-radius: 30px;
/*  padding: 20%;*/
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:silver;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color:  #006a4e;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}
/*Einde navigatiebar*/

/*Section one*/
.bgsectionone{
  background-color: #f6f2f1;
}
.ptpb-6{
  padding-top: 6%;
  padding-bottom: 6%;
}
.fontOne{
  font-family: PlayfairDisplayRegular,sans-serif;
  font-size: 2rem;
}
.titleSectionOne{
  font-family: LatoBlack,sans-serif;
  font-size: 4rem;
}
.paragraphSectionOne{
  font-family: PlayfairDisplayItalic,sans-serif;
  font-size: 1rem;
}
.shopBtn{
  border-color: #006a4e;
  color: #006a4e;
  border-radius: 50%;
  font-family: LatoBold,sans-serif;
  font-size: 1rem;
  margin-left: 2%;
  margin-right: 2%;
}
.shopBtn:hover{
  background-color: #006a4e;
  color: #ffffff;
}
/*einde section one*/
/*EINDE HEADER*/

/*START MAIN*/
/*Sectie1*/
.headerMain{
  font-family: LatoBlack,sans-serif;
  font-size: 2rem;
}
.captionMain{
  font-family: PlayfairDisplayItalic,sans-serif;
  font-size: 1rem;
  color: #006a4e;
}
.paragraphtwo{
  font-family: ;
}


/*Shoppingcart2*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}